@model TradeGenerator.Models.StockDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ticker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.High)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.High)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Low)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Low)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Close)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TickerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
